html {
  box-sizing: border-box;
  background-color: #f6f6f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #141315;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 120%;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

.site-container {
  overflow: hidden !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  border-radius: 15px;
  color: #fff;
  width: 100%;
  max-width: 330px;
  min-width: 200px;
  padding: 15px 43px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;

  &_primary {
    background: #2A7BBD;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      width: 7px;
      height: 14px;
      background-image: url("../img/icons/arrowforward.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-20px) translateY(-50%);
      transition: transform 0.5s;
    }

    &:hover {
      &:after {
        transform: translateX(-15px) translateY(-50%);
      }
    }

    &:active,
    &:focus {
      background-color: #008BB8;
    }
  }

  &_secondary {
    color: #0BA3D3;
    border: 2px solid #0BA3D3;

    &:hover {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:active,
    &:focus {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }

  span {
    position: relative;
    z-index: 5;
  }

  &_o {
    border: 2px solid transparent;

    &:active,
    &:focus {
      color: #008BB8;
      border-color: #008BB8;
    }

    &:hover {
      color: #0BA3D3;
      border-color: #0BA3D3;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  margin: 0 -12px;

  li {
    width: 20px;
    height: 20px;
    margin: 0 12px;
    transition: transform 1s;

    &:hover {
      transform: translateY(-20%);
    }
  }

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &_whatsapp {
      background-image: url("../img/icons/whatsapp.svg");
    }

    &_instagram {
      background-image: url("../img/icons/instagram.svg");
    }

    &_behance {
      background-image: url("../img/icons/be.svg");
    }

    &_tg {
      background-image: url("../img/icons/tg.svg");
    }
  }
}

.section-title {
  @include adaptiv-value('font-size', 32, 24, 1);
  @include adaptiv-value('margin-bottom', 88, 40, 1);
  font-weight: 600;
}

.js-validate-error-label {
  position: absolute;
  bottom: -5px;
  font-size: 12px;
}

.js-validate-error-field {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.swiper-button-next,
.swiper-button-prev {

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.dn {
  display: none !important;
}

.watchmore {
  display: none;
  align-items: center;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #000;
  opacity: 1;

  @media screen and (max-width: $medium) {
    display: flex;
  }

  &::after {
    content: "";
    display: block;
    width: 17px;
    height: 30px;
    margin-top: -5px;
    background-image: url("../img/icons/watchmore.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation-name: watchmore;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &__text {
    margin-right: 1em;
    white-space: nowrap;
  }
}

.form {
  display: grid;
  gap: 25px;
  max-width: 685px;
  grid-template-columns: 1fr;

  &__label {
    position: relative;
    padding: 16px 30px;
    border: 1px solid #D0D0D0;
    border-radius: 15px;
    background-color: rgba(#fff, 0.5);

    @supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)) {
      backdrop-filter: blur(10px);
    }

    span {
      position: absolute;
      top: -12px;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      color: #141315;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  &__label_textarea {
    grid-column: 1 / 3;
    min-height: 400px;

    @media screen and (max-width: $small) {
      grid-column: auto;
    }
  }

  &__field {
    left: 0;
    background-color: transparent;
    border: none;
    color: #B3B3B3;
    width: 100%;

    &:active,
    &:focus {
      outline: none;
      color: #141315;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__conf {
    font-size: 12px;
    line-height: 150%;
    color: #b3b3b3;
    max-width: 300px;
  }
}