@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "normalize";
@import "variables";
@import "global";
@import "vendor";

.brand {
  position: relative;
  flex: 0 1 140px;
  min-width: 123px;
  font-size: 0;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: $small) {
    padding-top: 3px;
    display: block;
    width: 123px;
  }
}

.site-header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding-bottom: 10px;
  color: #000;
  @include adaptiv-value('padding-top', 55, 30, 1);
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: $small) {
    color: #fff;
  }

  &__wrapper {
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $small) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    transition: transform 1s;

    &:hover {
      transform: translateY(-20%);
    }

    @media screen and (max-width: $large) {
      font-size: 16px;
    }

    @media screen and (max-width: $small) {
      font-size: 18px;
    }
  }

  &.scrollable {

    @media screen and (max-width: $small) {
      position: fixed;
      z-index: 100;
      left: 0;
      right: 0;
      top: 0;
      margin-top: -15px;
      background-color: rgba(247, 247, 247, 0.95);
      box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.185);

    }
  }
}

.nav {

  &__wrapper {
    display: flex;

    @media (min-width: $small + 1) {
      font-size: 14px;
    }

    @media (max-width: $small) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1;
      height: 100vh;
      padding: 100px 50px;
      visibility: hidden;
      opacity: 0;
      transform: scale(0.95);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;

      @media screen and (max-width: $small) {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
      }

      &.active {
        visibility: visible;
        background: #2A7BBD;
        opacity: 1;
        transform: scale(1);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
  }

  &__item {
    padding: 0 2em;
    transition: transform 0.5s;

    &:hover {
      transform: translateY(-10%);
    }

    @media screen and (max-width: $large) {
      padding: 0 1.3em;
    }

    @media screen and (max-width: $small) {
      padding: 0.4em 0 0.8em;
    }

    a {
      display: block;
      white-space: nowrap;
    }

    &_mobile {
      display: none;

      &:hover {
        transform: translate(0);
      }

      @media screen and (max-width: $small) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: auto;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
      }
    }
  }


  &__toggle {
    display: none;
    z-index: 100;
    padding: 0;

    @media (max-width: $small) {
      position: absolute;
      display: block;
      right: 30px;
      top: 40%;
      background-color: transparent;
      font-size: 0;
      width: 32px;
      height: 30px;
      cursor: pointer;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    background-image: url("../img/icons/menu-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.open {
      background-image: url("../img/icons/menu-icon-close.svg");
    }
  }
}

.hero {
  background-image: url("../img/hero/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @include adaptiv-value('padding-top', 160, 137, 1);
  @include adaptiv-value('padding-bottom', 57, 30, 1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $little) {
      display: block;
    }
  }

  &__text {
    flex: 0 0 400px;
    margin-right: 30px;

    @media screen and (max-width: $little) {
      margin-bottom: 3%;
      margin-right: 0;
    }
  }

  &__title {
    font-weight: 600;
    line-height: 120%;
    @include adaptiv-value('font-size', 60, 30, 1);
    @include adaptiv-value('margin-bottom', 18, 16, 1);
  }

  &__subtitle {
    font-size: 16px;
    @include adaptiv-value('margin-bottom', 34, 16, 1);
  }

  &__btn {
    @media screen and (max-width: $xsmall) {
      max-width: unset;
      width: 100%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    @media screen and (max-width: $little) {
      display: none;
    }
  }

  &__links {
    @media screen and (max-width: $little) {
      flex-direction: column;
      margin: -10px 0;

      li {
        margin: 10px 0;
      }
    }

    @media screen and (min-width: $little + 1) {
      .links__item_whatsapp {
        background-image: url("../img/icons/whatsapp-b.svg");

      }

      .links__item_instagram {
        background-image: url("../img/icons/instagram-b.svg");

      }

      .links__item_behance {
        background-image: url("../img/icons/be-b.svg");

      }

      .links__item_tg {
        background-image: url("../img/icons/tg-b.svg");

      }
    }
  }
}

.who {
  position: relative;
  background-color: #fff;
  background-image: url("../img/line3svg.svg");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  @include adaptiv-value('padding-top', 180, 52, 1);
  @include adaptiv-value('padding-bottom', 113, 30, 1);

  @media screen and (max-width: $xsmall) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 23%;
    width: 90px;
    height: 90px;
    background-image: url("../img/pugovitsa.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 2;

    @media screen and (max-width: $xsmall) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @media screen and (max-width: $little) {
      grid-template-columns: 1fr;
      margin-top: -70px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 120%;
    padding-right: 35px;
    border-bottom: 1px solid #e5e5e5;
    transition: all 0.3s;
    cursor: pointer;
    @include adaptiv-value('padding-top', 58, 40, 1);
    @include adaptiv-value('padding-bottom', 58, 40, 1);

    &:after {
      content: "";
      position: absolute;
      width: 13px;
      height: 30px;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background-image: url("../img/icons/arrow-grey.svg");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }

    &:hover {
      color: #2A7BBD;
      border-color: #2A7BBD;

      &::after {
        background-image: url("../img/icons/arrow-blu.svg");
      }

      .who__icon {
        transition: all .3s;

        * {
          transition: all .3s;
          opacity: 1;
          fill: #2A7BBD;
        }
      }
    }
  }


  &__icon {
    flex-basis: 20%;
    margin-right: 10px;

    @media screen and (max-width: $small) {
      min-width: 20%;
    }
  }
}

.cases {
  position: relative;
  background-color: #f6f6f6;
  background-image: url("../img/cases/cases-bg.svg");
  background-size: 40%;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  @include adaptiv-value('padding-top', 140, 80, 1);
  @include adaptiv-value('padding-bottom', 180, 50, 1);

  @media screen and (max-width: $small) {
    background-size: 90%;
    background-position: center;
  }

  &__container {
    position: relative;
  }

  &__deco {
    position: absolute;
    z-index: 1;
    width: 26%;
    max-width: 330px;
    height: 120%;
    right: 0;
    bottom: 0;
    background-image: url("../img/cases/deco.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    @media screen and (max-width: $little) {
      right: -30px;
      bottom: auto;
      top: 0;
      height: 70%;
      background-position: top left;
      background-size: 145%;
      z-index: 0;
    }

    @media screen and (max-width: $xsmall) {
      width: 33%;
      right: 0;
      height: 50%;
      background-size: 160%;
      top: -23%;
    }
  }

  &__watchmore {
    position: relative;
    right: 0;
    bottom: -10px;
  }
}

.cases-slider {
  position: relative;
  z-index: 0;
  font-weight: 500;

  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__slide-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 45%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    @include adaptiv-value('margin-bottom', 40, 20, 1);
    overflow: hidden;

    @media screen and (max-width: $little) {
      padding-bottom: 60%;
    }

    @media screen and (max-width: $xsmall) {
      padding-bottom: 75%;
    }

    img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      max-height: 100%;
    }
  }

  &__pagination {
    z-index: 3;
    bottom: 0px;
    left: 40px;
    right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100px;

    @media screen and (max-width: $small) {
      display: none;
    }


    .swiper-pagination-current,
    .swiper-pagination-total {
      &:before {
        content: "0"
      }
    }

    .swiper-pagination-current {
      margin-right: 0.4em;
      font-size: 42px;
      font-weight: 600;
      transform: translateY(-8px);
    }

    .swiper-pagination-total {
      font-size: 17px;
      transform: translateX(4px);
    }
  }

  &__prev,
  &__next {
    right: auto;
    left: auto;
    bottom: 0;
    top: auto;
    z-index: 3;
    color: #000;
    transition: opacity 0.3s, color 0.3s;

    &:after {
      font-size: 18px;
    }

    &:hover {
      opacity: 1;
      color: #2A7BBD;
    }

    @media screen and (max-width: $small) {
      display: none;
    }
  }

  &__next {
    left: 150px;
  }

  .swiper-slide {
    opacity: 0.3;

    .cases__slide-txt {
      opacity: 0;
      transition: opacity 0.5s;
      transition-delay: 0.1s;
    }
  }

  .swiper-slide-active {
    opacity: 1;

    .cases__slide-txt {
      opacity: 1;
    }
  }
}

.benefits {
  position: relative;
  background-color: #fff;
  background-image: url("../img/line.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  @include adaptiv-value('padding-top', 180, 50, 1);
  @include adaptiv-value('padding-bottom', 180, 50, 1);

  @media screen and (max-width: $medium) {
    background: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 9%;
    width: 90px;
    height: 90px;
    background-image: url("../img/pugovitsa.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 2;
  }

  &__list {
    @media screen and (min-width: $small + 1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    margin: 0 20px 118px 0;
    flex-basis: calc(25% - 40px);

    @media screen and (max-width: $large) {
      display: flex;
      align-items: center;
      flex-basis: calc(50% - 40px);
      margin: 0 20px calc(15px + 8vw) 0;
    }

    @media screen and (max-width: $small) {
      margin-right: 10px;
    }

    @media screen and (max-width: $little) {
      flex-basis: 100%;
      margin-right: 0;
    }
  }

  &__item-img {
    @include adaptiv-value('margin-bottom', 34, 18, 1);

    @media screen and (max-width: $large) {
      margin-bottom: 0;
      margin-right: 30px;
      flex: 0 1 52px;
      min-width: 45px;
    }
  }

  &__item-text {
    font-weight: 500;
    font-size: 18px;

    @media screen and (max-width: 358px) {
      font-size: 16px;
    }
  }
}

.process {
  background-image: url("../img/process/process-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include adaptiv-value('padding-top', 140, 80, 1);
  @include adaptiv-value('padding-bottom', 180, 50, 1);

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    flex: 0 1 470px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    background-color: rgba(#fff, 0.3);
    border-radius: 15px;
    box-sizing: border-box;
    @include adaptiv-value('padding-top', 41, 30, 1);
    @include adaptiv-value('padding-bottom', 41, 30, 1);
    @include adaptiv-value('padding-left', 55, 30, 1);
    @include adaptiv-value('padding-right', 55, 30, 1);

    @media screen and (max-width: $small) {
      background-color: #fff;
      flex-shrink: 0;
      flex-basis: 100%;
      min-height: 200px;
    }

    @media screen and (max-width: $xsmall) {
      min-height: 300px;
    }

    &_last {
      background-color: #fff;

      @media screen and (max-width: $medium) {
        display: none;
      }
    }
  }

  &__item-num {
    position: absolute;
    top: -5%;
    left: -3%;
    font-weight: 700;
    color: #2A7BBD;

    @include adaptiv-value('font-size', 32, 20, 1);

    @media screen and (max-width: $medium) {
      top: 5px;
      left: 5px;
    }
  }

  &__item-title {
    font-size: 18px;
    margin-bottom: 1em;
    font-weight: 600;
  }

  &__btn {
    position: relative;
    bottom: -65px;
  }
}

.feedback {
  display: none;

  @media screen and (max-width: $medium) {
    display: block;
    padding: 15% 0;
  }

  &__title {
    @include adaptiv-value('font-size', 32, 18, 1);
    margin-bottom: 0.7em;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.form {

  &__label {}

  &__field {}

  &__btn {}
}

.btn {

  &_primary {}
}

.contacts {
  color: #fff;
  background-color: #2A7BBD;
  @include adaptiv-value('padding-top', 180, 72, 1);
  @include adaptiv-value('padding-bottom', 180, 72, 1);

  &__title {
    @include adaptiv-value('margin-bottom', 37, 20, 1);
  }

  &__body {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    gap: 20px;

    @media screen and (max-width: $medium) {
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__adress {
    max-width: 450px;
    font-weight: 600;
    font-size: 20px;

    @media screen and (max-width: $medium) {
      font-size: 18px;
    }

    span {
      font-weight: 400;
      font-size: 16px;

      @media screen and (max-width: $xsmall) {
        display: block;
        margin-bottom: 10px;
      }

      br {
        display: none;

        @media screen and (max-width: $small) {
          display: block;
        }
      }
    }


  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__callback {
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-align-last: left;
    cursor: pointer;
  }

  &__links {
    @media screen and (max-width: $xsmall) {
      margin-top: 15px;
    }

    li {
      width: 28px;
      height: 28px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer {
  padding: 16px 0;
  font-weight: 600;
  color: #14131559;
  font-size: 14px;
  line-height: 120%;

  &__container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__copy {
    display: block;
    justify-self: center;

    @media screen and (max-width: $xsmall) {
      grid-row: 2/3;
    }
  }

  &__gotop {
    width: 48px;
    height: 48px;
    border: 2px solid #e4e4e4;
    border-radius: 15px;
    background-image: url("../img/icons/arrow-blu.svg");
    background-size: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: background-position 0.5s;
    transform: rotate(270deg);
    transition: border-color 0.3s;

    &:hover,
    &:active {
      border: 2px solid #2A7BBD;
    }
  }
}

.modal_form {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  align-items: center;

  @media screen and (max-width: $little) {
    grid-template-columns: 1fr;
  }

  .form__btn {
    margin-right: 30px;

    @media screen and (max-width: $little) {
      margin-bottom: 20px;
    }
  }

  .form__label {
    @media screen and (max-width: $little) {
      grid-column: 1 / 3;
    }
  }

  .form__label_tel {
    @media screen and (max-width: $little) {

      grid-row: 2 / 3;
    }
  }

  .form__footer {
    grid-column: 1/3;
    display: flex;
    align-items: center;

    @media screen and (max-width: $small) {
      display: block;
    }
  }
}

.hystmodal {

  &__title {
    font-weight: 700;
    margin-bottom: 0.5em;
    @include adaptiv-value('font-size', 32, 20, 1);
    line-height: 140%;
  }

  &__text {
    font-size: 18px;
    max-width: 60%;
    margin-bottom: 28px;

    @media screen and (max-width: $little) {
      max-width: 100%;
      font-size: 16px;
    }
  }

  &__thanks {
    display: none;
    // display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__thanks-title {
    margin-bottom: 0.5em;
    font-size: 32px;
    color: #2A7BBD;
  }

  &__thanks-text {
    font-size: 18px;
  }
}


@supports (backdrop-filter: blur(10px)) {
  .process__list li {
    backdrop-filter: blur(5px);
    background-color: transparent;
  }
}